
@font-face {
  font-family: norsebold;
  src: url(fonts/Norse-Bold.otf);
}
body {
  margin: 0;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 40%;
  align-items: center;
}

.bg-image {
  height: 100%;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 0.6;
  height: 100px;
  width: 100%;
  position: absolute;
  top: 150px;
}

.logo-image {
height: 80%;
}
.logo-text {
  font-family: norsebold;
  color: white;
  font-weight: bold;
  font-size: 50px;
}

.copyright {
  position: absolute;
  bottom: 0;
  color: white;
  font-size: small;
  
}

.main {
  background-color: #eee;
  width: 60%;
}

.para-one {
  padding-top: 90px;
  padding-left: 20px;
  font-weight: bold;
}

.form {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 5px 5px #aaa;
  height: auto;
}

.para-two {
  font-weight: bold;
  margin-top: 0;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  height: auto;
  width: 70%;
}

form div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

label {
  text-transform: uppercase;
  font-size: 12px;
}

input {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 5px 8px;
  margin-top: 4px;
  outline: none;
}

input:focus-visible {
  border: 1px solid blue;
  box-shadow: 1px 1px 3px blue;
}

input[type=password]:invalid {
  border: 1px solid red;
}

button {
  padding: 12px 25px;
  color: white;
  font-weight: bold;
  background-color:  #596D48;
  margin-left: 20px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #aaa;
  border: 1px solid #aaa;
}

.para-three {
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: #596D48;
}